{% extends 'base.html' %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<center>
<h1 class="text-5xl text-white py-10 underline"> Course Notes </h1>

<form action="/course/{{course.key}}/notes" method="POST">
  <div class="w-5/6 justify-end flex">
  <input type="submit" id="sub" name="sub" value="Save Changes" class="text-xl text-white hover:text-[#5EE2D2]">
  </input><br></div>
  <textarea id="textarea" name="textarea" class="w-3/4 h-[90%] text-2xl p-5 backdrop-blur-xl bg-[#eaedd8]/60 ">{{ course.notes }}
  </textarea>
</form>


</center>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
    html {
    height: 100%;
    }
    body {
      margin:0;
      padding:0;
      font-family: 'Righteous', cursive;
      background-image: url("/poly2.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
  .tox-promotion{
      display: none;
  }
</style>
<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
          var formData = {
            textarea: $("#textarea").val(),
          };
      
          $.ajax({
            type: "POST",
            url: "/course/{{course.key}}/notes",
            data: formData,
            dataType: "json",
            encode: true,
          }).done(function (data) {
            console.log(data);
          });
      
          event.preventDefault();
        });
      });
</script>
<script>
  function auto_save_notes() {
      var formData = {
          textarea: $("#textarea").val(),
        };
    
        $.ajax({
          type: "POST",
          url: "/course/{{course.key}}/notes",
          data: formData,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          console.log(data);
        });
  }
  setInterval(auto_save_notes, 1000);
</script>
<script src="/static/tinymce.min.js"></script>
<script>
  tinymce.init({
    resize: false,
    height: "650px",
    width: "85%",
    selector: 'textarea',
    plugins: 'anchor code codesample insertdatetime autolink charmap autosave codesample emoticons image link lists media searchreplace table visualblocks wordcount typography autosave',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    menu: {
        file: { title: 'File', items: 'preview | export print | deleteallconversations' },
        edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
        view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen' },
        insert: { title: 'Insert', items: 'image link media addcomment pageembed template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor tableofcontents | insertdatetime' },
        format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | styles blocks fontfamily fontsize align lineheight | forecolor backcolor | language | removeformat' },
        tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | a11ycheck code wordcount' },
        table: { title: 'Table', items: 'inserttable | cell row column | advtablesort | tableprops deletetable' },
        help: { title: 'Help', items: 'help' }
      },
});
</script>
  {% endblock %}