{% extends 'base.html' %}
{% block content %}
<div class="intro">
    <h1 class="logo-header">
        <span class="logo">You</span><span class="logo">Learn</span>
    </h1>
</div><center>
<h1 class="text-5xl text-white m-10 underline place-self-center center">  All Courses  </h1>
<button class="text-white px-5 py-2text-2xl bg-blue-800 rounded"> <a href="/create_course"> Create New Course </a> </button>
</center>


<center>
<div class="grid grid-cols-3">

    {% for course in courses %}
    <a href="/course/{{course.key}}">
    <div class="w-[5000] max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 my-5 mx-10 drop-shadow-2xl">
        <span href="#">
            <img class="rounded-t-lg w-full" src="{{course.playlistThumbnail}}" alt="" />
            
        </span>
        <div class="p-5">
            <span>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{course.title}}</h5>
            </span>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{course.description|truncate(100, True)}}</p>
            <span class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                View Course
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </span>
            <br>
            <span class="text-gray-400 text-s ">
                Total No. of Videos: {{course.videoCount}}<br>
                Progress: {{course.complete_percentage}}%
            </span>
    
            
        </div>
    </div>
    </a>
    {% endfor %}


</div>
</center>

<script type="text/javascript">
    let intro = document.querySelector('.intro');
    let logo = document.querySelector('.logo-header')
    let logoSpan = document.querySelectorAll('.logo')
    window.addEventListener("DOMContentLoaded", ()=>{
        setTimeout(()=>{
            logoSpan.forEach((span, idx)=>{
                setTimeout(()=>{
                    span.classList.add('active');
                }, (idx + 1) * 400)
                
            });
            setTimeout(()=>{
                logoSpan.forEach((span, idx)=>{
                    setTimeout(()=>{
                        span.classList.remove('active');
                        span.classList.add('fade');
                    },(idx+1)*50)
                })
            },2000);

            setTimeout(()=>{
                intro.style.top='-100vh';
            },2300)
        })
    })
</script>
{% endblock %}